.palette {
	padding: 16px;
	position: relative;

	border: 4px solid #5f4d5a;
	
	label {
		display: block;
	}

	input {
		display: block;
		height: 14em;
		width: 14em;
		box-shadow: 16px 15px 15px -4px rgba(9,2,23,0.78);
	} 
}

