.palette {
	padding: 16px;
	position: relative;
	text-align: center;

	.palette-instructions {
		display: block;
		padding-top: 16px;
	}

	label {
		display: block;
	}

	input {
		display: block;
		height: 150px;
		width: 150px;
		margin: 0 auto;
		box-shadow: 16px 15px 15px -4px rgba(9,2,23,0.50);
	} 
}

